.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: auto;
  background-color: #23313a;
  color: white;

  .logoContainer {
    display: flex;

    align-self: flex-end;
    height: 100%;
  }
  .siteMapContainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    .restaurantLinks,
    .about {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      p {
        font-weight: 700;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          cursor: pointer;
        }
      }
    }
  }
}
